.sidenav {
  height: 100vh;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(187, 235, 193);
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #06680e;
  display: block;
}

.sidenav a:hover {
  color: #111010;

}

.main {
  /*margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
  height: 5em;
}

.flex-container {
    display: flex;
}

.flex-child {
  flex: 1;
}  