* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.row{
    background: #7d9f1c;
    border-radius: 3px;
    box-shadow: 12px 12px 22px grey;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.bt1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.bt1:hover{
    background: white;
    border:1px solid;
    color: black;
}