* {
  padding: 0px;
  margin: 0px;
  font-family: 'Baloo Bhai 2', cursive;
}

/*header*/

.jumbotron-fluid {
  background: #7d9f1c;
  display: flex;
  padding: 30px;
  width: 100%;
}


.up {
  width: 25%;
}

.down {
  width: 75%;
}

.head_img {
  border-radius: 50px;
  width: 70%;
  height: 200px;
}

.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(187, 235, 193);
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16%;
  height: auto;
}

.sidenav a {
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #06680e;
  display: block;
}

.sidenav a:hover {
  color: #111010;
}

.sidenav .icon {
  display: none;
}

h1,
h3 {
  color: white;
}

.flexer {
  display: flex;
  flex-direction: row;
  height: auto;
}

/*sidebar responsive*/
@media screen and (max-width: 1024px) {
  .sidenav a:not(all) {
    display: none;
  }

  .sidenav a.icon {
    display: block;
    float: left;
  }
}

@media screen and (max-width: 1024px) {
  .sidenav.responsive {
    position: relative;
  }

  .sidenav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .sidenav.responsive a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1024px) {
  .flexer {
    display: block;
    height: auto;
    width: 100%;
  }

  .sidenav {
    position: relative;
  }

}

/*sidebar end*/


.main {
  /*margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.footer {
  height: 5em;
  background: #7d9f1c;
  ;
}

/*form start*/

#id1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  display: none;
  z-index: 500;
  border-radius: 2px;
}

.popup .tags {
  padding-left: 10px;
  padding-bottom: 9px;
  padding-top: 8px;
}
#fm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(187, 235, 193);
  font-size: large;
  height: 75vh;
  width: 35vw;
  border-radius: 3px;
}

#fm .bi {
  position: absolute;
  right: 0;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 3px;
  transition: .1s ease-in-out;
}

#fm .bi:hover {
  background-color: red;
  color: white;
}
form label{
  font-weight: bold;

}
form input,select {
  position: absolute;
  right: 10px;
  text-align: center;
  width: 18.2vw;
  border: 2px solid grey;
  border-radius: 4px;
}

form input:hover {
  box-shadow: 4px 4px 12px rgb(188, 192, 188);
}
form select:hover {
  box-shadow: 4px 4px 12px rgb(188, 192, 188);
}

#btnid .btn {
  font-size: large;
  font-weight: bold;
  width: 30% !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*form end*/

/*main table start*/
.stb {
  padding: 20px;
  width: 100%;
  height:180vh !important;
  overflow-y: scroll !important;
}

thead {
  height: 3vh;
}

#table {
  width: 78.5vw;
}

/* @media screen and (max-width:1150px){
  #fm{
    height: 95vh;
  }
  #fm label{
    padding-left: 1vw;
    display: block;
    font-size: large;
  }
  #fm input,select{
    position: absolute;
    left: 3vw;
    width: 28vw;
  }

} */
